body{
  background-color: antiquewhite;
}


/*.gutters{
  min-width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
*/
#projects{
  max-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.sectionDiv{
  height: 60vh;
  width: 100%;
}

.space-background{
  max-height: 80vh;
  width: 80%;
}
.grid1 {

  display: grid;
  grid-template-columns: repeat(10, 8.5vw);
  grid-template-rows: auto;
  text-align: center;
  padding-top: 2%;
  padding-left: 7%;
  
 
}

.board-space{
  max-width: 100% ;
  min-height: 100%;
}
.middle{
  background-color: chartreuse;
  grid-column: 2/10;
  grid-row: 2/5;
  text-align: center;
}


.top-left {  
  background-color: aqua;
  grid-column: 1;
  grid-row: 1;

}
.top-right {  
  background-color: brown;
  grid-column: 10;
  grid-row: 1;
}
.bottom-right {  
  background-color: blueviolet;
  grid-column: 10;
  grid-row: 5;
}

.bottom-left {
  background-color: aqua;
  grid-column: 1;
  grid-row: 5;
}
.left-1{
  background-color: aquamarine;
  grid-column: 1;
  grid-row: 2;
}
.left-2{
  background-color: blue;
  grid-column: 1;
  grid-row: 3;
}

.left-3{
  background-color: black;
  grid-column: 1;
  grid-row: 4;
}


.right-1{
  background-color: aliceblue;
  grid-column:10;
  grid-row: 2;
}

.right-2{
  background-color: rgb(131, 79, 11);
  grid-column: 10;
  grid-row: 3;
}

.right-3{
  background-color: aqua;
  grid-column: 10;
  grid-row: 4;
}




.top-1{
  background-color: rgb(62, 165, 165);
  grid-column: 2;
  grid-row: 1;
}

.top-2{
  background-color: aquamarine;
  grid-column: 3;
  grid-row: 1;
}

.top-3{
  background-color: blue;
  grid-column: 4;
  grid-row: 1;
}

.top-4{
  background-color: brown;
  grid-column: 5;
  grid-row: 1;
}

.top-5{
  background-color: brown;
  grid-column: 6;
  grid-row: 1;
}

.top-6{
  background-color: brown;
  grid-column: 7;
  grid-row: 1;
}

.top-7{
  background-color: brown;
  grid-column: 8;
  grid-row: 1;
}

.top-8{
  background-color: brown;
  grid-column: 9;
  grid-row: 1;
}

.bottom-1{
  background-color: blue;
  grid-column: 2;
  grid-row:5;
}

.bottom-2{
  background-color: aliceblue;
  grid-column: 3;
  grid-row: 5;
}

.bottom-3{
  background-color: blueviolet;
  grid-column: 4;
  grid-row: 5;
}

.bottom-4{
  background-color: crimson;
  grid-column: 5;
  grid-row: 5;
}

.bottom-5{
  background-color: crimson;
  grid-column: 6;
  grid-row: 5;
}

.bottom-6{
  background-color: crimson;
  grid-column: 7;
  grid-row: 5;
}

.bottom-7{
  background-color: crimson;
  grid-column: 8;
  grid-row: 5;
}

.bottom-8{
  background-color: crimson;
  grid-column: 9;
  grid-row: 5;
}

.top-left:hover, .top-right:hover, .bottom-left:hover, .bottom-right:hover{
  transform: scale(1.25);
}

