body{
  background-color: antiquewhite;
}


.gutters{
  min-width: 60vw;
  padding-left: 20vw;
  padding-right: 20vw;
}
.grid1 {

  display: grid;
  grid-template-columns: repeat(6, 10vw);
  grid-template-rows: auto;
  
 
}

.board-space{
  max-width: 100% ;
  min-height: 100%;
}
.middle{
  background-color: chartreuse;
  grid-column: 2/6;
  grid-row: 2/6;
  text-align: center;
}


.top-left {  
  background-color: aqua;
  grid-column: 1;
  grid-row: 1;

}
.top-right {  
  background-color: brown;
  grid-column: 6;
  grid-row: 1;
}
.bottom-right {  
  background-color: blueviolet;
  grid-column: 6;
  grid-row: 6;
}

.bottom-left {
  background-color: aqua;
  grid-column: 1;
  grid-row: 6;
}
.left-1{
  background-color: aquamarine;
  grid-column: 1;
  grid-row: 2;
}
.left-2{
  background-color: blue;
  grid-column: 1;
  grid-row: 3;
}

.left-3{
  background-color: black;
  grid-column: 1;
  grid-row: 4;
}

.left-4{
  background-color: blueviolet;
  grid-column: 1;
  grid-row: 5;
}

.right-1{
  background-color: aliceblue;
  grid-column:6;
  grid-row: 2;
}

.right-2{
  background-color: rgb(131, 79, 11);
  grid-column: 6;
  grid-row: 3;
}

.right-3{
  background-color: aqua;
  grid-column: 6;
  grid-row: 4;
}

.right-4{
  background-color: cadetblue;
  grid-column: 6;
  grid-row: 5;
}


.top-1{
  background-color: rgb(62, 165, 165);
  grid-column: 2;
  grid-row: 1;
}

.top-2{
  background-color: aquamarine;
  grid-column: 3;
  grid-row: 1;
}

.top-3{
  background-color: blue;
  grid-column: 4;
  grid-row: 1;
}

.top-4{
  background-color: brown;
  grid-column: 5;
  grid-row: 1;
}

.bottom-1{
  background-color: blue;
  grid-column: 2;
  grid-row:6;
}

.bottom-2{
  background-color: aliceblue;
  grid-column: 3;
  grid-row: 6;
}

.bottom-3{
  background-color: blueviolet;
  grid-column: 4;
  grid-row: 6;
}

.bottom-4{
  background-color: crimson;
  grid-column: 5;
  grid-row: 6;
}

.top-left:hover, .top-right:hover, .bottom-left:hover, .bottom-right:hover{
  transform: scale(1.25);
}

